/*  ========================================================================  *\
    F O N T  S T Y L E
\*  ========================================================================  */


h1 {
    font-size:  15vh;
}

h3, h4 {
    font-size:  4.5vh;
}

p {
    font-size:  3vh;
}

a {
    text-decoration:  none; 
    color:            greenyellow;
}
    a:hover, a:active {
        font-weight:  bolder; 
        color:        rgb(255, 255, 0, 1); 
        transition:   all 0.5s ease-in-out;
    }

    .left {text-align: left;}
    .center {text-align: center;}
    .right {text-align: right;}

    .light-color {color: rgba(255, 255, 178, 0.85);}

@media(max-width: 768px) {
    h1 {
        font-size:  9vh;
    }
    
    h3, h4 {
        font-size:  3vh;
    }
    
    p {
        font-size:  2vh;
    }
    
    a {
        text-decoration:  none; 
        color:            greenyellow;
    }
        a:hover, a:active {
            font-weight:  bolder; 
            color:        rgb(255, 255, 0, 1); 
            transition:   all 0.5s ease-in-out;
        }

        .left {text-align: left;}
        .center {text-align: center;}
        .right {text-align: right;}
    
        .light-color {color: rgba(255, 255, 178, 0.85);}
}