.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, minmax(100px, auto));
    grid-gap: 10px;
    background-color: brown;
    padding: 10px;
  }
  
    .item {
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: lime;
    text-align: center;
    color: #ffffff;
  }
  
  .header {
    grid-column: span 12;
    padding: 20px;
    background-color: orange;
    color: #000000;
  }
  
  .main {
    grid-column: 2 / span 6;
    grid-row: 2 / span 10;
  }
  
  .sidebar {
    grid-column: span 4;
    grid-row: 2 / span 8;
  }
  
  .footer {
    grid-column: span 12;
    padding: 20px;
    background-color: orange;
  }

  h1 {font-size: 10vh;}
  h3 {font-size: 5vh;}